html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f6f9fc;
}

header{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
header span{
    color:#062b4d;
    text-align: center;
    font-size: 20pt;
    font-weight: 900;
    white-space:nowrap;
    flex:1;
    padding: 10px;
}
header hr{
    flex:1;
    height: 5px;
    background: #0055A4;
    border: 1px #0055A4;
    border-radius: 50px;
}

main{
    flex:8;
    display: flex;
    flex-direction: column;
}
#today{
    font-size: 15pt;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
#standard{
    font-size: 5pt;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#tableSection{
    flex:3;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#tableSection table{
    margin-top: 10px;
    border:5px solid #0055A4;
    border-collapse: collapse;
    width: 60%;
    height: 90%;
}
#theadTr th{
    background-color: #0055A4;
    border-right: 2px solid white;
    color: white;
    padding: 5px;
}
#tbody td{
    background-color: white;
    border: 1px solid #0055A4;
    color: black;
    padding: 5px;
    text-align: center;
}
a{
    text-decoration: none;
    color:black
}
a:hover{
    font-weight: 600;
    color:#0055A4;
    text-decoration-line: underline;
}

#pageController{
    display:flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 5px;
    justify-content: center;
}
button{
    margin: 5px;
    border:none;
    background-color: #0055A4;
    color: white;
}
button:hover{
    background-color: rgb(87, 131, 167);
    color: black;
}
#pageDiv{
    display:flex;
    font-weight: 600;
}
#pageContainer{
    font-weight: 700;
    color: rgb(94, 93, 93);
    margin-right: 2px;
}
#lastPageContainer{
    font-weight: 700;
    color: #0055A4;
    margin-left: 2px;
}

#home{
    margin-bottom: 8px;
    font-size: 5pt;
}

#chartContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

footer{
    flex:1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer hr{
    flex:1;
    height: 5px;
    background: #0055A4;
    border: 1px #0055A4;
    border-radius: 50px;
}